<?xml version="1.0"?>
<config>
    <modules>
        <Linkedin_Testimonials>
            <version>1.0.0</version>
        </Linkedin_Testimonials>
    </modules>
    <global>
        <models>
            <testimonials>
                <class>Linkedin_Testimonials_Model</class>
                <resourceModel>testimonials_resource</resourceModel>
            </testimonials>
            <testimonials_resource>
                <class>Linkedin_Testimonials_Model_Resource</class>
                <deprecatedNode>testimonials_mysql4</deprecatedNode>
                <entities>
                    <testimonials>
                        <table>testimonials_testimonials</table>
                    </testimonials>
                </entities>
            </testimonials_resource>
        </models>
        <helpers>
            <testimonials>
                <class>Linkedin_Testimonials_Helper</class>
            </testimonials>
        </helpers>
        <resources>
            <testimonials_setup>
                <setup>
                    <module>Linkedin_Testimonials</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </testimonials_setup>
            <testimonials_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </testimonials_write>
            <testimonials_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </testimonials_read>
        </resources>
        <blocks>
            <testimonials><class>Linkedin_Testimonials_Block</class></testimonials>
        </blocks>
    </global>
    <frontend>
        <routers>
            <testimonials>
                <use>standard</use>
                <args>
                    <module>Linkedin_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </testimonials>
        </routers>
        <translate>
            <modules>
                <Linkedin_Testimonials>
                    <files>
                        <default>Linkedin_Testimonials.csv</default>
                    </files>
                </Linkedin_Testimonials>
            </modules>
        </translate>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
             <testimonials_admin>
                 <use>admin</use>
                 <args>
                     <module>Linkedin_Testimonials</module>
                     <frontName>testimonials_admin</frontName>
                 </args>
             </testimonials_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Linkedin_Testimonials>
                    <files>
                        <default>Linkedin_Testimonials.csv</default>
                    </files>
                </Linkedin_Testimonials>
            </modules>
        </translate>
        <layout>
            <updates>
                <testimonials>
                    <file>testimonials.xml</file>
                </testimonials>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <testimonials>
            <settings>
                <active>1</active>
                <default_approved>1</default_approved>
            </settings>
        </testimonials>
    </default>
</config>
